PROFILES_DB_NAME='test'
PROFILES_DB_USER='test'
PROFILES_DB_PASS='test'

DATABASE_URL='postgresql://test:test@profiles_db:5432/test'

ACCOUNTS_DB_NAME='test'
ACCOUNTS_DB_USER='test'
ACCOUNTS_DB_PASS='test'

DATABASE_URL='postgresql://test:test@accounts_db:5432/test'

MINIO_ACCESS_KEY='key'
MINIO_SECRET_KEY='key'
