{{ name }}, {{ age }}, {% if user_location %}<i>📍 {% if language_code == 'ru' %}Геолокация{% else %}Geolocation{% endif %}</i>{% elif city_location %}{{ city_location['name'] }}{% else %}🧐{% endif %}

{{ description }}