{% if language_code == 'ru' %}
1 - Искать
2 - Изменить описание анкеты
3 - Изменить фото анкеты
4 - Заполнить анкету заново
{% else %}
1 - Search
2 - Change profile description
3 - Change profile photo
4 - Fill out profile again
{% endif %}