{% if language_code == 'ru' %}
<b>👋 Привет!</b>

Я твой <b>помощник для поиска новых знакомств</b>, уверен, мы сможем найти тебе собеседника по душе!
{% else %}
<b>👋 Hello!</b>

I'm your <b>assistant in finding new acquaintances</b>, I'm sure we can find you an interlocutor to your liking!
{% endif %}